<!-- Modal -->
<div class="modal fade" id="modalPresentacion" tabindex="-1" role="alert" aria-labelledby="modalPresentacionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPresentacionLabel">Informaci&oacute;n de este desarrollo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="line-height: 22px;">

          <div>
            Esta es un <b>demo m&iacute;nimo</b> de una aplicaci&oacute;n que sirve para compartir im&aacute;genes.
          </div>
          <div>
            Est&aacute; desarrollada con Javascript y Nodejs usando la base de datos MongoDB
            <center>
            <br />
              <img src="https://www.infolabs.mx/images/nodejs.png" />&nbsp;&nbsp;
              <img src="https://www.infolabs.mx/images/javascript.png" />&nbsp;&nbsp;
              <img src="https://www.infolabs.mx/images/mongodb.png" />
            </center>
          </div>
          <hr />
          <div class="row">
            <div class="col-6" style="line-height: 22px;">
              Es una demostraci&oacute;n del tipo de aplicaciones que desarrollamos para nuestros clientes.
              <br /><br />
              En la aplicaci&oacute;n se puede:
            </div>
            <div class="col-6 border alert alert-primary">
              <ul class="check_list" style="margin-bottom: -10px; margin-top: -10px;">
                <li>Subir im&aacute;genes</li>
                <li>Comentarlas</li>
                <li>Dar me gusta</li>
                <li>Ver las im&aacute;genes m&aacute;s populares y m&aacute;s comentadas</li>
              </ul>
            </div>
          </div>

          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
          Podemos desarrollar una aplicaci&oacute;n as&iacute; para usted&nbsp;&nbsp;
          <img src="https://www.infolabs.mx/images/logoinfomain.png" />

        </div>
      </div>
    </div>
  </div>
</div>