<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo - App Compartir Im&aacute;genes Simple</title>

  <link rel="stylesheet" href="/public/css/styles.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <div class="container" style="padding-top: 10px; padding-bottom: -10px; background: #fff;">
    <span class="alert alert-light" style="float: right; margin-top: -5px; padding: 5px;"><a href="#"
        data-toggle="modal" data-target="#modalPresentacion">Informaci&oacute;n de este desarrollo</a></span>
    <span><a href="https://www.infolabs.mx/demos">Regresar a la lista de demos</a></span>
  </div>
  <br />

  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">
        <h3>Demo - App Compartir Im&aacute;genes Simple</h3>
      </a>
    </div>
  </nav>

  <div class="container p-4">
    <div class="row">
      <div class="col-md-8">
        {{{ body }}}
      </div>
      <div class="col-md-4">
        {{>stats}}
        {{>popular}}
      </div>
    </div>
  </div>

  {{>modales/modal_info}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/public/js/scripts.js"></script>

</body>

</html>